*{
    padding: 0;
    margin: 0;
}
ul
,ol{
    list-style: none;
}
/* 去掉所有超级链接下划线 */
a{
 text-decoration: none;
}

/* 使用继承性给body标签设置字体 */
body{
    font:normal 14px/25px '微软雅黑';
}

header{

}

header .heard-top{
width: 1201px;
margin: 0 auto;
overflow: hidden;
}

header .heard-top .logo{
padding-top: 27px;
 width: 221px;
height: 63px;
float: left;
color: #00978e;
}

header .heard-top .logo h1{
    width: 221px;
    height: 63px;
}

header .heard-top .tool{
    float: right;
    width: 266px;
    height: 77px;
    padding-top: 22px;
}
header .heard-top .tool .r1 {
    margin-bottom: 14px;
}
header .heard-top .tool .r1 .tel{
    width: 32px;
    height: 25px;
}
header .heard-top .tool .r1 .telnumber{
    font-size: 20px;
    font-weight: 700;
    color: #00978e;
    display: inline-block;
    widows: 158px;
    height: 26px;
}
header .heard-top .tool .r1 .icon{
    width: 24px;
    height: 24px;
}
header .heard-top .tool .r1 .chinese_icon{
    margin-left: 10px;
    margin-right: 10px;
}

header .heard-top .tool .r2{
    width: 260px;
    height: 28px;
    border: 1px solid  rgba(202, 202, 202, 0.6); 
}

header .heard-top .tool .r2 input{
    float: left;
    width: 240px;
    height: 28px;
    /* 去掉边框线 */
    border: none;
    padding-left: 5px;
    outline: none;
}

header .heard-top .tool .r2 button{
float: left;
width: 15px;
height: 20px;
background: none;
 border: none;
 outline: none;
 cursor: pointer;
position: relative;
top: 4px;
right: 4px;
}
header .main_nav{
    width: 100%;
height: 60px;
background-color: #00978e;
margin-top: 20px;
}
header .main_nav ul{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
header .main_nav ul li{
    float: left;
    width: 150px;
    text-align: center;
    line-height: 60px;
}
header .main_nav ul li.cur {
    background-color: #015e58;
}
header .main_nav ul li a{
    display: block;
    width: 150px;
    height: 60px;
    font-size: 16px;
    color: white;
}
header .main_nav ul li a:hover{
    background-color: orange;
}
.banner{
    
}